#banner {
  min-height: 700px;
  max-height: 1400px;
  height: 100vh;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/banner.jpg");
}

#banner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

#banner-left {
  margin-top: 40px;
}

#banner-left h2 {
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  line-height: 1.5;
}

#banner-plan-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  width: 160px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.53);
  border-radius: 0.6em;
}

#content-myregion-info {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px;
  box-sizing: border-box;
}

#content-myregion-info h1 {
  font-size: 2em;
  text-align: center;
  color: #444444;
}

#content-myregion-info h2 {
  font-size: 1.4em;
  text-align: center;
}

#myregion-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}

#myregion-list #card {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 400px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#myregion-list #card img {
  height: 200px;
}

#myregion-list #card h3 {
  text-align: center;
  margin: 20px 0;
}

#myregion-list #card p {
  width: 80%;
  margin: 0 auto;
}

#move-myreion-btn {
  color: rgba(119, 44, 240, 1);
  font-weight: 600;
  border: 3px solid rgba(119, 44, 240, 1);
  width: 80px;
  text-align: center;
  padding: 8px;
  margin: 10px auto 0;
  cursor: pointer;
}

/* background-size */
@media screen and (max-width: 1500px) {
  section {
    padding-top: 0;
  }
  #banner {
    background-size: cover;
  }
}

@media screen and (max-width: 1390px) {
  #myregion-list #card {
    width: 23%;
  }
}

/* tablet */
@media screen and (max-width: 936px) {
  #banner-container {
    flex-direction: column;
    padding-top: 300px;
  }
  #banner-left h3 {
    margin-top: 40px;
  }
  #banner #contact {
    display: none;
  }
  #content-myregion-info h1 {
    font-size: 1.8em;
  }
  #content-myregion-info h2 {
    font-size: 1.2em;
  }
  #myregion-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #myregion-list #card {
    width: 48%;
    margin-bottom: 40px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  #banner-left h2 {
    font-size: 1.4em;
  }
  #banner-left h3 {
    font-size: 0.8em;
  }
  #myregion-list {
    flex-direction: column;
    align-items: center;
  }
  #myregion-list #card {
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
  #content-myregion-info {
    margin-top: 20px;
    padding: 0;
  }
}
