section {
  padding-top: 100px;
}

#banner {
  min-height: 700px;
  max-height: 1200px;
  height: 80vh;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/banner.jpg");
}

#banner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

#banner-left {
  margin-top: 20px;
}

#banner-left h2 {
  color: #f7f7f7;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.5;
}

#banner-left h2 b {
  color: #ffcc00;
}

#banner-left h3 {
  color: #fff;
  font-weight: 1em;
  margin-top: 100px;
  font-size: 1.4em;
}

#banner-plan-btn {
  margin-top: 20px;
  border: 3px solid #0c6af7;
  text-align: center;
  width: 130px;
  height: 40px;
  line-height: 40px;
  color: #0c6af7;
  font-weight: 600;
  cursor: pointer;
}

#banner #contact h2 {
  margin-top: 10px;
}

#banner #contact p {
  margin: 20px 0;
  color: #787776;
}

#banner #contact {
  display: flex;
  flex-direction: column;
  width: 420px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0.3em;
  padding: 30px;
}

#banner #contact table {
  width: 100%;
}

#banner #contact table input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  border-radius: 0.4em;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

#banner #contact table input[type="button"] {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.2em;
  background-color: #0c6af7;
  padding: 14px;
  border: none;
  color: #fff;
  border-radius: 0.4em;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

#content-myregion-info {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px;
}

#content-myregion-info h1 {
  font-size: 2em;
  text-align: center;
  color: #444444;
}

#content-myregion-info h2 {
  font-size: 1.4em;
  text-align: center;
}

#myregion-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}

#myregion-list #card {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 400px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#myregion-list #card img {
  height: 200px;
}

#myregion-list #card h3 {
  text-align: center;
  margin: 20px 0;
}

#myregion-list #card p {
  width: 80%;
  margin: 0 auto;
}

#move-myreion-btn {
  color: green;
  font-weight: 600;
  border: 3px solid green;
  width: 80px;
  text-align: center;
  padding: 8px;
  margin: 10px auto 0;
  cursor: pointer;
}
